<div class="min-h-full overflow-y-auto w-64 p-4 bg-teal-600">
    <div class="brand-logo">
        <h3 class="flex items-center justify-center text-white underline decoration-wavy">TSAKITSAKY</h3>
    </div>

    <div class="mt-6">
        <ul>
            <li class="mb-1 group">
                <a href="" class="flex items-center py-2 px-4 text-gray-100 rounded-md hover:bg-teal-700 group-[.selected]:bg-teal-800 group-[.selected]:text-white sidebar-dropdown-toggle">
                    <span class="text-sm font-normal">Billet</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 ml-auto group-[.selected]:rotate-180">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>                          
                </a>
                <ul class="pl-7 mt-2 hidden group-[.selected]:block">
                    <li class="mb-4">
                        <a th:href="@{/pageInsertBilletEtudiantVendu}" class="flex items-center text-gray-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                            </svg>  
                            <span class="text-sm font-normal">Vente des billets</span>
                        </a>
                    </li>
                    <li class="mb-4">
                        <a th:href="@{/pageNbEtTypeBilletVendu}" class="flex items-center text-gray-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                            </svg>  
                            <span class="text-sm font-normal">Billet vendu par etudiant</span>
                        </a>
                    </li>
                    <li class="mb-4">
                        <a th:href="@{/pagePaiementBilletVendu}" class="flex items-center text-gray-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                            </svg>  
                            <span class="text-sm font-normal">Paiement des billets</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="mb-1 group">
                <a href="" class="flex items-center py-2 px-4 text-gray-100 rounded-md hover:bg-teal-700 group-[.selected]:bg-teal-800 group-[.selected]:text-white sidebar-dropdown-toggle">
                    <span class="text-sm font-normal">Pack</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 ml-auto group-[.selected]:rotate-180">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>                          
                </a>
                <ul class="pl-7 mt-2 hidden group-[.selected]:block">
                    <li class="mb-4">
                        <a th:href="@{/pageListePack}" class="flex items-center text-gray-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                            </svg>  
                            <span class="text-sm font-normal">Liste packs</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
